.Newexpense-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem;

  background-color: #0058AB;
  width: 95%;
  max-width: 420px;

  margin: 2rem auto;
  border-radius: 1.5rem;
}

body {
  background-color: #499FA4;
}

input,
select {
  width: 90%;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
}

button {
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
