.gauge-wrapper {
  width: 15rem;
}

.gauge {
  width: 100%;
}

.zone {
  fill: none;
  stroke-width: 14;
  stroke-linecap: round;
}

.red {
  stroke: #e74c3c;
}

.orange {
  stroke: #f39c12;
}

.green {
  stroke: #2ecc71;
}
