.expenses-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  align-items: center;
}

.expense-card {
  background-color: #E9BC8B;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  width: 95%;
  max-width: 500px;
  height: auto;
}

.del-button {
  background-color: #DDD5F4;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.totalExpenses,
.wasted,
.saved {
  text-align: center;
}
