.header{
    background-color: #0A5786;
    display: flex;
      justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    align-items: center;
    justify-content: space-evenly;
}
.nav-link{
     
    color: black;
    font-weight: bold;
    text-decoration: none;
  
}
.nav-link.Active{
  
    color: #FF3D33;
    font-weight: bold;
    
}